/* font-family: 'EB Garamond', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif; */
body {
  margin: 0;
  padding: 0;
  background: white;
}

.webcam-panel {
  display: flex;
  margin-left: 10vw;
  width: 80vw;
  height: 10vh;
  background-color: rgb(89, 90, 88);
}

/* navbar styling */
.links {
  display: flex;
  flex-direction: row;
  font-family:'Noto Sans', sans-serif;
  font-size: 2em;
  align-content: flex-start;
  gap: .5em;
  background-color: #143E88;
  color: white;
  height: 3em;
  align-items: center;
}

.links a{
  color: white;
  text-decoration: none;
  padding-left: 2rem;
}

.links a:hover {
  color: #66AB77;
}

.links img {
  height: 4rem;
  padding-left: 2rem;
}

/* langing page */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
}

.button-hero {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.landing-page img {
  margin-top: -2rem;
  height: 50vh;
  margin-right: 5rem;
}

/* name and logo banner */
 .companyName{
  display: flex;
  align-items: center;
  flex-direction: column;
 }

 .companyName p {
  align-items: center;
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
  margin-top: -2rem;
  padding-bottom: 1rem;
  color: #143E88;
 }

 .nameLogo {
   display: flex;
   flex-direction: row;
   align-content: center;
   align-items: baseline;
 }
 .nameLogo h1 {
  font-family:'Noto Sans', sans-serif;
  font-weight: 900;
  font-size: 5.5rem;
  color: #143E88;
  margin-left:0;
  margin-right:0;
 }

 .nameLogo img {
  height: 4rem;
  margin-left:0;
  margin-right:0;
}


/* create and join buttons */
 .buttons{
   display: flex;
   flex-direction: row;
   align-items: baseline;
   padding-top: 8rem;
  margin-left: 4rem;

 }

 .noButtons{
  display: none;
  flex-direction: row;
  align-items: baseline;
  padding-top: 8rem;
 margin-left: 4rem;

}


 .buttons button{
   display: inline-flex;
   padding: 0.35em 1.5em;
   border: 0.1em solid #143E88;
   margin: 0 0.5rem 0.5rem 2rem;
   border-radius: 0.12em;
   box-sizing: border-box;
   text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color:  #143E88;
    background-color: white;
    text-align: center;
    transition: all 0.2s;
  }

  .buttons button:hover{
    color: white;
    background-color: #143E88;
  }
  @media all and (max-width:30em){
   .buttons button {
  display: block;
  margin: 0.4em auto;
  }
}

.buttonsAndForm {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 4rem;
}

.joinOrCreateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #143E88;
  background-color: white;
  padding: 1rem;
}

input{
  margin:1rem;
}

label {
 font-family: 'Noto Sans', sans-serif;
 color: #143E88;
}


select {
  margin-left: 3rem;
  font-family: 'Noto Sans', sans-serif;
  color: #143E88;
 }

 form button {
  display: inline-flex;
  padding: 0.35em 0.75em;
  border: 0.1em solid #143E88;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 300;
   font-size: 1.25rem;
   color:  #143E88;
   background-color: white;
   text-align: center;
   transition: all 0.2s;
 }

 form button:hover{
  color: white;
  background-color: #143E88;
}
@media all and (max-width:30em){
 .buttons button {
display: block;
margin: 0.4em auto;
}
}
