/* font-family: 'EB Garamond', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif; */

:root {
  --main-darklg: #c3cad7;
  --main-dark: #161d29;
  --primary-color: #2f80ec;
  --theme-color: #143e88;
  --main-light: #ebebeb;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Noto Sans', 'Play', Roboto, sans-serif;
}

.webcam-panel {
  display: flex;
  position: absolute;
  margin-left: 10vw;
  width: 80vw;
  height: 10vh;
  top: 140px;
  justify-content: center;
  z-index: 1;
}

video {
  border-radius: 10px;
  margin: 0 0.5rem;
}

.webcam-panel span {
  position: absolute;
  left: 10px;
  top: 3px;
  font-size: small;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: rgba(55, 55, 55, 0.9);
  padding: 0 0.5rem;
  color: rgb(244, 244, 244);
}

#mygame {
  margin-top: 3rem;
  z-index: -1;
  border-radius: 5px;
}

/* navbar styling */
.links {
  display: flex;
  flex-direction: row;
  font-family: 'Noto Sans', 'Play', Roboto, sans-serif;
  font-size: 1.5rem;
  align-content: flex-start;
  gap: 0.5em;
  background-color: var(--theme-color);
  color: white;
  height: 2em;
  padding: 1rem;
  align-items: center;
}

.links a {
  color: white;
  text-decoration: none;
  padding-left: 2rem;
}

.links a:hover {
  color: #66ab77;
}

.links img {
  height: 3rem;
  padding-left: 2rem;
}

/* langing page */
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.button-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.landing-page img {
  height: 50vh;
  margin-right: 5rem;
}

/* name and logo banner */
.companyName {
  text-align: center;
}

.companyName p {
  align-items: center;
  font-size: 1.5rem;
  margin-top: -2rem;
  padding-bottom: 1rem;
  color: var(--theme-color);
}

.nameLogo {
  align-content: center;
  align-items: baseline;
}
.nameLogo h1 {
  font-weight: 900;
  font-size: 5.5rem;
  color: var(--theme-color);
  margin-top: 1rem;
}

.nameLogo img {
  height: 4rem;
  margin-left: 0;
  margin-right: 1.5rem;
}

/* create and join buttons */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-top: 8rem;
  margin-left: 4rem;
}

.noButtons {
  display: none;
  flex-direction: row;
  align-items: baseline;
  padding-top: 8rem;
  margin-left: 4rem;
}

.buttons button {
  display: inline-flex;
  padding: 0.35em 1.5em;
  border: 0.1em solid var(--theme-color);
  margin: 0 0.5rem 0.5rem 2rem;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--theme-color);
  background-color: white;
  text-align: center;
  transition: all 0.2s;
}

.buttons button:hover {
  color: white;
  background-color: var(--theme-color);
}
@media all and (max-width: 30em) {
   .buttons button {
    display: block;
    margin: 0.4em auto;
  }
}

.buttonsAndForm {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 4rem;
}

.joinOrCreateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--theme-color);
  background-color: white;
  padding: 1rem;
}

input,
select {
  margin: 1rem;
  font-family: 'Noto Sans', sans-serif;
  color: var(--theme-color);
}

label {
  font-family: 'Noto Sans', sans-serif;
  color: var(--theme-color);
}

.submit-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  gap: 1rem;
}

form button {
  display: inline-block;
  padding: 0.35em 0.75em;
  border: 0.1em solid var(--theme-color);
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  color: var(--theme-color);
  background-color: white;
  text-align: center;
  transition: all 0.2s;
  width: 70%;
}

form button:hover {
  color: white;
  background-color: var(--theme-color);
}

.back-button {
  border: 0.1em solid salmon;
  color: salmon;
  width: 20%;
  padding: 0.5rem;
}

.back-button:hover {
  color: white;
  background-color: salmon;
}

@media all and (max-width: 30em) {
   .buttons button {
    display: block;
    margin: 0.4em auto;
  }
}

/*////instructions////*/

/* Popup style */
#popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}

.box {
  position: relative;
  font-family: monospace;
  color: var(--theme-color);
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  text-align: center;
}

.coworkers {
  width: 600px;
  height: 400px;
  border-radius: 20px;
}
.arrows {
  width: 75px;
  height: 75px;
}

.instructions-video {
  float: left;
}

.box video {
  width: 400px;
  height: 400px;
  border-radius: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.box img {
  width: 400px;
  height: 300px;
  border-radius: 20%;
  margin-bottom: 65px;
}
#close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 30px;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 30px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(19% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 40px;
  height: 35px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-weight: 200;
  border: 1px solid #999;
  font-size: 40px;
  font-family: monospace;
}

#back-home a {
  margin-left: 40px;
  text-decoration: none;
  background-color: white;
  color: var(--theme-color);
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
}

/*header styling*/
#header {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  top: 730px;
  left: 100px;
  justify-content: center;
  width: 90%;
}

/*icon sizing*/
#header img {
  width: 52px;
  height: 52px;
}

#header section {
  display: inherit;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  background-color: rgba(55, 55, 55, 0.9);
  padding: 0 1rem;
}

/*nav button styling*/
#nav ul {
  list-style: none;
}

#nav ul li {
  display: inline-block;
  justify-content: right;
  text-transform: uppercase;
  margin: 0 0.25rem;
  /* height: 1rem */
}

#nav ul li a {
  text-decoration: none;
  color: #fff;
}

/*switch room button*/
.button-two {
  background-color: #4d9de0;
  padding: 10px 10px;
  border-radius: 10%;
  box-shadow: -3px 3px 3px #2f8dda;
  font-family: monospace;
  font-size: 20px;
}

/*instructions button*/
.button-three {
  background-color: #e15554;
  padding: 10px 10px;
  border-radius: 10%;
  box-shadow: -3px 3px 3px #da2f2f;
  font-family: monospace;
  font-size: 20px;
}
.map img {
  text-align: center;
  height: 600px;
  width: 600px;
}
/*map button*/
.button-four {
  background-color: #e1bc29;
  padding: 10px 10px;
  border-radius: 10%;
  box-shadow: -3px 3px 3px #c4a31c;
  font-family: monospace;
  font-size: 20px;
}

.tooltipText {
  visibility: hidden;
  background-color: rgba(24, 24, 24, 0.879);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

/*button click hover effect*/
#nav ul li:hover {
  transform: scale(0.9, 0.9);
}

/*****about*****/

.about {
  width: 90%;
  padding: 10px;
  margin-left: 100px;
  font-family: monospace;
  color: #143e88;
  font-size: 18px;
  border-radius: 20%;
  background-color: #c9ada7;
}

.column {
  float: left;
  width: 20%;
  padding: 30px;
}
.column p {
  background-color: #c9ada7;
  padding: 10px;
  border-radius: 20%;
}
.column-text {
  float: left;
  width: 22%;
  padding: 10px;
}
.row::after {
  content: '';
  clear: both;
  display: table;
}
#about-header {
  text-align: center;
}
#about-header p {
  text-align: center;
  font-size: 16px;
}
#about-header img {
  width: 300px;
  height: 200px;
  text-align: right;
}
.about img {
  width: 85%;
  border-radius: 30%;
}

/*****team*****/
.team {
  margin-top: 8vh;
  margin-left: 5vw;
  text-align: center;
  font-family: monospace;
}

#team-header {
  font-size: 30px;
  margin-bottom: 2vh;
}

#team-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90vw;
}

.team-member {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 20%;
  height: 65vh;
  background-color: white;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}

.team-member > .member-photo > img {
  background-color: gray;
  margin-top: 5%;
  width: 90%;
  height: 40%;
  object-fit: fill;
}

.team-member > .member-name {
  margin-top: 2%;
  font-size: 24px;
}

.team .member-avatar {
  position: relative;
  bottom: 25%;
  left: 40%;
}

.team .member-button-list {
  list-style-type: none;
  position: relative;
}

/* Font awesome styling */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 35%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-top: 5%;
  margin-right: 75%;
}

.fa-github {
  background: #000;
  color: white;
  margin-top: 5%;
  margin-right: 75%;
}

/* webcam controller */
.webcam-controller {
  padding: 0.5rem;
  /* background-color: var(--main-darklg); */
  border-radius: 15px;
  font-family: monospace;
  gap: 0.5rem;
  align-items: center;
}

.webcam-controller p {
  padding-right: 1rem;
  font-size: 1rem;
}

.controller_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 50px;
  border-radius: 30px;
  color: var(--main-light);
  font-size: 1.2rem;
  width: 50px;
}

.controller_buttons:hover {
  transform: scale(0.9, 0.9);
}

/* name display on join */
.nameJoined {
  background-color: #4d9de0;
  padding: 5px;
  box-shadow: -3px 3px 3px #2f8dda;
  font-family: monospace;
  font-size: 20px;
  align-items: center;
  color: white;
  border-radius: 7px;
  position: absolute;
  width: 200px;
  height: 30px;
  top: 140px;
  left: 410px;
  text-align: center;
  margin-left: 50%;
}

.background__red {
  background-color: #e15554;
}

.nameList {
  background-color: #4d9de0;
  padding: 5px 3px;
  box-shadow: -3px 3px 3px #2f8dda;
  font-family: monospace;
  font-size: 15px;
  align-items: center;
  color: white;
  border-radius: 7px;
  position: absolute;
  width: 180px;
  top: 140px;
  right: 440px;
  text-align: center;
  margin-right: 50%;
}

.nameListTitle {
  font-size: 20px;
}

/* Mobile settings */
@media only screen and (max-width: 1200px) {
  .no-mobile {
    display: none;
  }
}
